@import './mixins.scss';

header {
    display: flex;
    justify-content: center;

    .logo-container {
        padding-top: 20px;
        display: flex;
        align-items: center;
        gap: $xs;

        h1 {
            font-size: 1.35rem;
            font-weight: 700;
        }

        span {
            user-select: none;
            font-size: 2rem;
        }
    }

}

@media only screen and (min-width: 768px) {
    header {
        display: block;
        .logo-container {
            transform: translateX(260px);
            transition: transform 0.4s ease-in-out;
        }
        &.nav-hidden {
            .logo-container {
                transform: translateX(85px);
            }
        }
    }
}