@import './mixins.scss';

main {
    margin-top: 50px;
}

@media only screen and (min-width: 480px) {
    main {
        margin: auto 0 auto 0;
        transform: translateX(190px);
        transition: transform ease-in-out 0.4s;




        &.nav-hidden {
            transform: translateX(60px);
        }
    }
}
