@import './mixins.scss';

.main-container {
    margin-top: $xl;
        display: flex;
        justify-content: center;

    main {
        min-width: 50dvw;
        max-width: 65%;

        // this will size the main relative with the viewport and not the main-container which gets smaller (with a margin-left) when side nav is visible
        // max-width: 70dvw;
    }
}

// reset nesting for visibility
.project-container {
    // border: 1px solid $fontColor; //for testing
    padding: 0 $m;
    padding-bottom: $m;
    
    h2 {
        font-size: 1.225rem;
        font-weight: 700;
        overflow: hidden;
        word-wrap: break-word;
    }

    >*:not(:last-child) {
        margin-bottom: $l;
    }

    .sub-project-container {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;

        gap: 10px $s;

        ul {
            grid-column: 1 / 3;
        }

        h3 {
            font-size: 1.15rem;
            font-weight: 500;
        }

        li {
            border: 2px solid $itemGreyBorder;
            border-radius: 4px;
            padding: $s;
            display: grid;
            grid-template-columns: repeat(2, auto) 1fr;
            align-items: center;
            gap: 10px 5px;

            &:not(:last-child) {
                margin-bottom: 1px;
            }

            &.completed-task,
            &.completed-checklist {
                filter: brightness(45%);

                select.move-item {
                    // reduce darkening (result of filter) of the select element when item is completed
                    background-color: $itemBgColor2;
                }
            }

            .completion-checkbox-container {
                grid-column: 1 / 4;
                position: relative;
                input {
                    appearance: none;
                }

                label::after {
                    content: '';
                    position: absolute;
                    top: -1px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $fontColor;
                    border-radius: 2px;
                }

                span { 
                    color: $fontColor;
                    user-select: none;
                    position: absolute;
                    left: .75px;
                    top: 0.5px;
                    font-family: "Anicons Regular", sans-serif;
                    font-variation-settings: "TIME" 1;
                    font-weight: 700;
                    font-size: 1.1rem;
                  }

                label:has(+ input:checked) > span {
                    font-variation-settings: "TIME" 100;
                }
            }

            > p, h4 {
                grid-column: 1 / 4;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                display: -webkit-box;
                -webkit-box-orient: vertical;

            }

            > P {
                -webkit-line-clamp: 5;
                max-height: calc(1.3em * 5); // fall back for line clamp 
                line-height: 1.3em;
            }

            > h4 {
                -webkit-line-clamp: 2;
                max-height: calc(1.3em * 2); // fall back for line clamp 
                line-height: 1.3em;
                font-weight: 500;
                font-size: 1.03rem;
            }

            .move-item-container {
                select {
                    padding: 1px 1px;
                    border-radius: 5px;
                    border: 1px solid $itemBgColorHover;
                    background-color: $bodyBgColor;
                    color: $fontColor;
                    max-width: 12ch;
            
                    &:hover {
                        background-color: $itemBgColor2;
                    }
                }
            }

            .edit-item-container {
                grid-column: 1 / 4;
            }
        }
    }

    select {
        padding: 1px 1px;
        border-radius: 5px;
        border: 1px solid $itemBgColorHover;
        color: $fontColor;
        max-width: 12ch;
        background-color: $itemBgColor2;

        &:hover {
            filter: brightness(85%);
        }
    }

    button.cancel-button,
    button.expand-button,
    button.submit-button {
        @include btn();
    }

    .project-remove {
        button.open-modal-button {
            @include btnWithIcon();
        } 
        button.submit-button {
            @include btn($itemDeleteBg, $fontColor);
        }
    }

    .remove-item-modal-container {
        grid-column: 3;
        justify-self: end;

        // button.remove-item-button {} moved to global styles
    }
}

@keyframes checkboxAnimation {
    0% {
        font-variation-settings: "TIME" 1;
    }

    100% {
        font-variation-settings: "TIME" 100;
    }
}

@media only screen and (min-width: 390px) {
    // same structure for specificity
    .project-container{
        .sub-project-container li {
            grid-template-columns: repeat(2, auto) 1fr;

            .edit-item-container {
                grid-column: 1 / 2;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        margin-left: 250px;

        &.main-container-transition-enabled {
            transition: margin-left ease-in-out 0.4s;
        }

        &.nav-hidden {
            margin-left: 0px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .main-container {

        margin-top: $xxl;
        display: flex;
        justify-content: center;
    
        main {
            // reset min and max and switch to width with clamp
            min-width: auto; // or 0
            max-width: none;

            // this will make main flexible within a 100px range for larger screens on nav open/close; can be changed to a fixed width that accommodates the project container, as this is only for a small animation/transition
            width: clamp(730px, 50%, 830px);

            // dwv  option, no animation with nav slide due to being sized relative to the viewport, and not the main container
            // width: clamp(600px, 65dvw, 800px);

            &.nav-hidden {

            }
        }
    }

    .project-container {
        .sub-project-container {
            
            li {
                //reset grid items structure
                > .edit-item-container,
                > .remove-item-modal-container,
                > .completion-checkbox-container {
                    grid-column: auto;
                }

                gap: 0 7px;

                h4 {
                    font-size: 1rem;
                    font-weight: 600;
                }

                &.note-item {
                    // continue here, changed desc from 1fr to minmax and expand to 1fr
                    // 187px due to 7px gap
                    grid-template-columns: 187px minmax(150px, 340px) 1fr repeat(2, auto);

                    .edit-item-container {
                        justify-self: end;
                    }
                }

                &.task-item {
                    grid-template-columns: auto 180px auto 1fr repeat(3, auto);

                    h4 {

                        margin-left: 22px;
                    }
                    .dueDate-text {
                        // justify-self: end;
                        text-align: end;
                    }
                }

                &.checklist-item {
                    grid-template-columns: 187px auto 1fr repeat(3, auto);

                    .dueDate-text {
                        // justify-self: end;
                        text-align: end;
                    }
                }

                > p, h4 {
                    grid-column: auto;
                    max-height: 1.3em;
                    -webkit-line-clamp: 1;
                }

            }
        }
    }
}
