$xs: 3px;
$s: 7px;
$m: 14px;
$l: 20px;
$xl: 30px;
$xxl: 50px;
$navWidth: 280px;

$bodyBgColor: #212121; // chat gpt
$navBgColor: #171717; // chat gpt
$itemBgColor2: #2F2F2F; // chat gpt

$fontColor: #FAFAFA; //shadcn
$fontColorBlack: #18181B;
$itemBgColorHover: #E2E2E2;
$itemBgColorHover2: #17171A;
$itemBgColor: #27272A; //shadcn
$generalBgColor: #09090B; // shadcn;
$itemDeleteBg: #7f1d1d;


@mixin btn($bg: $fontColor, $clr: $fontColorBlack, ) {
    // hover parameters if needed $bgHover: $itemBgColorHover, $clrHover: $fontColorBlack

    cursor: pointer;
    border: 0;
    padding: 0.35em 0.6em;
    color: $clr;
    background-color: $bg;
    border-radius: 6px;
  
    &:hover,
    &:focus {  
      filter: brightness(85%)
      // color: $clrHover;
      // background-color: $bgHover;
    }
};

