@import './mixins.scss';


aside {
  background-color: $navBgColor;
  position: fixed;
  width: 250px;
  height: 100dvh;
  z-index: 999;

  &.nav-transition-enabled {
    transition: transform 0.4s ease-in-out;
  }

  &.hidden {
    transform: translateX(-100%);
  }

  .toggle-nav-container {
    display: flex;

    #toggle-nav-button {
      padding-top: 20px;
      padding-right: $s;
      margin-left: auto;
      border: none;
      background: none;
      transition: transform 0.4s ease-in-out;
      z-index: 999;

      span {

        color: $fontColor;
        font-size: 2.25rem;
        cursor: pointer;
        user-select: none;
      }
      
      span.icon { 
        font-family: "Anicons Regular", sans-serif;
        font-variation-settings: "TIME" 100;
        transition: font-variation-settings 0.4s ease;
      }
      
      // hidden styles - for button
      &.nav-hidden {
        transform: translateX(53px);

        span.icon {
          font-variation-settings: "TIME" 1;
        } 
      }
    }
  }

  nav {
    margin-top: 20px;
    padding: $s;
    display: flex;
    flex-direction: column;
    gap: $s;
    
    #quick-nav-container {
      display: flex;
      gap: $s;
      flex-direction: column;
  
      button {
        cursor: pointer;
        font-weight: 700;
        color: $fontColor;
        padding: $s;
        border: 1px solid $itemBgColor;
        background: none; 
        
        &.active-quickNav-tab {
          background-color: $itemBgColor;
        }

        &:hover {
          background-color: $itemBgColor;
        }
      }
    }

    h2 {
      margin-right: auto;
      margin-left: auto;
      margin-top: $l; // add to the gap set on nav
      font-size: 1.2rem;
    }

    button.new-item-button {
      // override btn mixin font-size
      font-size: 1rem;
      margin-right: auto;
      margin-left: auto;
    }
    
    #projects-nav-container {
      margin-top: $m;
      height: 45dvh; 
      overflow-y: auto; 
      overflow-x: hidden;
      scrollbar-width: thin; /* Set the width of the scrollbar */
      scrollbar-color: #7B7B7B #424242; /* Set the color of the handle and track */

      .project-btn-container {
        display: grid;
        grid-template-columns: 1fr 165px 1fr;
        gap: 1px;

        button.nav-project-button,
        .edit-project-title-modal > button {
          cursor: pointer;
          font-size: 1.07rem;
          color: $fontColor;
          border: none;
          background: none;
          outline: none;
        }

        .nav-project-button {
          grid-column: 2;
          padding: 12px 8px;
          border: 1px solid $itemBgColor2;
          border-left: none;
          border-right: none;
          overflow-wrap: break-word;
          // text-align: start;

          &.active-tab {
            background-color: $itemBgColor2;
          }

          &:hover {
            background-color: $itemBgColor2;

          }
        }
        .edit-project-title-modal {
          grid-column: 3;
          display: flex;

          .open-modal-button {
            flex: 1;
            &:hover {
              background-color: $itemBgColor2;
            }

            span.material-icons {
              color: $fontColor;
              font-size: 1.35rem;
  
            }
          } 
        }
      }
    }
    button.cancel-button,
    button.submit-button {
        @include btn();
    }
  }
}



@media only screen and (min-width: 768px) {

}