@import './mixins.scss';


aside {
  position: fixed;
  width: 220px;
  height: 100vh;
  background-color: grey;

  &.nav-transition-enabled {
    transition: transform 0.4s ease-in-out;
  }

  &.hidden {
    transform: translateX(-100%);
  }

  .toggle-nav-container {
    display: flex;

    #toggle-nav-button {
      padding-top: 5px;
      padding-right: $s;
      margin-left: auto;
      border: none;
      background: none;
      transition: transform 0.4s ease-in-out;

      span {
        font-size: 2.25rem;
        cursor: pointer;
      }
      
      span.icon { 
        font-family: "Anicons Regular", sans-serif;
        font-variation-settings: "TIME" 100;
        transition: font-variation-settings 0.4s ease;
      }
      
      // hidden styles - for button
      &.nav-hidden {
        transform: translateX(50px);

        span.icon {
          font-variation-settings: "TIME" 1;
        } 
      }
    }
  }
}
  

@media only screen and (min-width: 768px) {

}